@model MvcVendingMachine.ViewModel.MachineImageViewModel

<h4>Tambah Data</h4>
<hr />

<form asp-action="Create" enctype="multipart/form-data" asp-controller="Machines">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h4 class="text-black">Tambah Data </h4>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Namaproduk" class="control-label"></label>
            <input asp-for="Namaproduk" asp-items="@ViewBag.images" class="form-control" />
            <span asp-validation-for="Namaproduk" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <label asp-for="Stock" class="control-label"></label>
            <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <label asp-for="Hargaproduk" class="control-label"></label>
            <input asp-for="Hargaproduk" class="form-control" />
            <span asp-validation-for="Hargaproduk" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <label asp-for="Gambar" class="control-label"></label>
            <input asp-for="Gambar" class="form-control" multiple/>
            <span asp-validation-for="Gambar" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

